<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Graduação</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../stylo/stylo.css" />
</head>

<body>

    <h1><strong>POR QUE A IMPACTA REVOLUCIONA O SEU FUTURO?</strong></h1>
    <p><em>Há 30 anos no mercado, a Faculdade Impacta tem alto nível de empregabilidade nas maiores empresas do País.
            Segundo pesquisa realizada pelo LinkedIn, a Instituição possui 98,2% de contratação no segundo semestre do
            curso.
        </em></p>

    <img src="../img/si.jpg" alt="some text" width=200 height=100 title="Sistema da Informação">
    <img src="../img/cienciainformação.jpg" alt="some text" width=200 height=100 title="Ciencia da Informação">
    <img src="../img/jogosvirtual.jpg" alt="some text" width=200 height=100 title="Jogos Virtual">
    <br />
    <a href="http://localhost:8000">Início</a>
    <a href="posemba.html">Pós e MBA</a>
    <a href="tecnico.html">Técnico</a>
</body>

</html>