<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Pós e MBA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../stylo/stylo.css" />
</head>

<body>
    <h1>Por que a Impacta?</h1>
    <p><strong>Avaliação positiva</strong><br/>
        Ótimos conceitos no ENADE/MEC e no Guia do Estudante. Entre os cursos estrelados com destaque estão:
        Administração, Análise e Desenvolvimento de Sistemas, Redes de Computadores e Sistemas da Informação.</p>
    <p><strong>Alta Empregabilidade</strong><br/>
        Os alunos da Faculdade Impacta têm taxa de empregabilidade de 98,2% já no segundo semestre do curso. Estão
        entre as empresas que mais contratam alunos da Faculdade Impacta: IBM, Itaú-Unibanco, Bradesco, HP, Totvs,
        Stefanini, Porto Seguro, TIVIT, Santander, entre outras.</p>
    <p><strong>Inovação Tecnológica</strong><br/>
        A Faculdade Impacta Tecnologia tem a inovação como base de seu posicionamento. Por meio do Impacta Empreenda
        360 Graus, o aluno tem na OPE - Oficina Projeto Empresa a oportunidade de construir sua própria startup.</p>
    <p><strong>Método de ensino diferenciado</strong><br/>
        Aulas preparadas por professores experientes, apoiadores e atuantes no mercado com conteúdo que vai além do
        conceitual e com questões práticas.</p>
    <p><strong>Infraestrutura Completa</strong><br/>
        Laboratórios de última geração e que simulam a realidade das empresas, biblioteca com grande acervo,
        lanchonete, infraestrutura completa e com acesso facilitado ao deficiente em sala de aula.</p>
    <p><strong>Participação nos Maiores Eventos</strong><br/>
        A Faculdade Impacta está sempre presente ou organizando os maiores eventos de tecnologia e inovação do mercado
        nacional.</p>
    <br />
    <h1>Pós</h1>
    <strong>Arquitetura da Informação e UX + Módulo avançado em Usabilidade
        <br />
        Big Data e Business Analytics
        <br/>
        Cloud Computing e DevOps
        <br/>
        Cyber Security - Parceria DARYUS
        <br/>
        Engenharia de Software
        <br/>
        Engenharia Robótica
        <br/>
        Gestão Ágil de Negócios e TI - Parceria DARYUS
        <br/>
        Gestão de Processos de Negócios - Parceria DARYUS
        <br/>
        Gestão de TI - Parceria DARYUS</strong>
        <br/>
        <h1>MBA</h1>
        <br />
        <strong>Gestão Ágil de Projetos
        <br />
        Gestão da Tecnologia da Informação
        <br />
        Gestão de Projetos com ênfase no PMBoK - Parceria DARYUS
        <br />
        Gestão de Riscos e Continuidade de Negócios - Parceria DARYUS
        <br />
        Gestão e Tecnologia em Segurança da Informação- Parceria DARYUS
        <br />
        Marketing Digital
        <br />
        Marketing Digital EAD</strong>
        <br/>
        <br/>
        <br/>
        <a href="../">Início</a>
        <a href="graduacao.html">Graduação</a>
        <a href="tecnico.html">Técnico</a>

</body>

</html>