<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Técnico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../stylo/stylo.css" />
</head>

<body>
    <h1>Escola Técnica</h1>
    <p>Os cursos técnicos da Faculdade Impacta são profissionalizantes e buscam preparar o
        aluno para ingressar diretamente no mercado de trabalho de seu interesse. Confira quais são os cursos
        oferecidos:</p>
    
    <img src="../img/mecatronica.jpg" alt="some text" width=200 height=100 title="Mecatronica">
    <img src="../img/Telecomunic.jpg" alt="some text" width=200 height=100 title="Telecomunicações">
    <img src="../img/Eletronica.jpg" alt="some text" width=200 height=100 title="Eletrônica">
    <img src="../img/InformaticaIndustrial.jpg" alt="some text" width=200 height=100 title="Informática Industrial">
    <br/>
    <br/>
    <br/>
    <a href="http://localhost:8000">Início</a>
    <a href="graduacao.html">Graduação</a>
    <a href="posemba.html">Pós e MBA</a>
</body>

</html>